<launch>
  <!-- Vicon connection node -->
  <include file="$(find vicon_bridge)/launch/vicon.launch" />

  <!-- Asctec Position Controller for Hummingbird -->
  <node pkg="asctec_ll_updated" name="hummingbird_1" type="asctec_ll_updated_node" output="screen" respawn="true">
     <param name="port" value="/dev/ttyUSB0"/>
     <param name="ll_status_rate" value="1"/>
     <param name="imu_calc_data_rate" value="0"/>
     <param name="rc_data_rate" value="0"/>
     <param name="ctrl_out_rate" value="5"/>
     <param name="gps_data_advanced_rate" value="0"/>
  </node>
  
  <node name="joy_controller" pkg="joy" type="joy_node" output="screen"/>

  <node name="asctec_controller" pkg="pc_asctec_sim" type="controller_node" output="screen">
     
     <rosparam file="$(find pc_asctec_sim)/config/default_h.yaml" command="load"/>
     <param name="quad_frame" value="/hummingbird_1"/>
     <param name="world_frame" value="/odom"/>

  </node>
</launch>
